<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <meta name="google" content="notranslate"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
    <link href="/css/nes.min.css" rel="stylesheet" />
    <link href="/css/primeflex.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet"/>
    <title><ui:insert name="title">James May - Lead Web Engineer / Architect</ui:insert></title>
</h:head>
<h:body>
    <div class="p-grid">
        <div class="p-col-12">
            <h1 class="my-logo">Jimwebguru</h1>
            <h2 class="job-title">Web Lead Engineer / Architect</h2>
            <div style="margin-bottom: 10px;">
                <div class="p-grid">
                    <div class="p-col-12 p-sm-4 p-md-3">
                        <img class="me-pic" alt="James May" src="/images/me-8bit.png"/>
                    </div>
                    <div class="p-col-12 p-md-9 desktop-only">
                        <div class="nes-balloon from-left">
                            <p>Thank you for visiting my site. You can view my resume and I am always open to interesting opportunities. Feel free to send me an email if you want to contact me.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="https://docs.google.com/document/d/1eQRW0y1CJobpU_z_KNJvQHmOs5TxuY3woXinB87ziRU/edit" class="nes-btn is-primary top-btn" target="_blank">View Resume</a>
            <a href="#contact-form" class="nes-btn is-success top-btn" style="padding-top: 2px">Contact Me <i class="nes-icon gmail" style="vertical-align: bottom"></i></a>
            <a href="#my-projects" class="nes-btn is-warning top-btn">My Projects</a>
            <div style="display: inline-block">
                <a href="https://www.linkedin.com/in/jim-may-baa0a34/" target="_blank"><i class="nes-icon linkedin is-medium" style="vertical-align: bottom"></i></a>
                <a href="https://twitter.com/jim_webguru" target="_blank"><i class="nes-icon twitter is-medium" style="vertical-align: bottom"></i></a>
                <a href="https://gitlab.com/jimwebguru" target="_blank"><img style="width: 52px;height: 52px" alt="My GitLab" src="/images/gitlab8bit.png"/></a>
            </div>
        </div>
        <f:view contentType="text/html">
            <ui:insert name="mainContent">Default Main Content</ui:insert>
        </f:view>
        <div class="p-col-12 footer">
            <p><img src="/images/thwomp.png" alt="Thwomp" style="width: 30px"/> James May - <p:clock pattern="yyyy"/></p>
            <p>NES.css style is by <a href="https://nostalgic-css.github.io/NES.css/" target="_blank">bc_rikko</a>.</p>
        </div>
    </div>
</h:body>
</html>