body {max-width: 1200px; margin: 5px auto; background: url('/images/bg.png') repeat-y; background-size: 100%}

h1, h2 {font-weight: normal}

img {max-width: 100%}

.my-logo {
	color: #0080c0;
	font-size: 50px;
	font-family: "Press Start 2P";
	font-style: italic;
	text-shadow: #000000 1px 1px 0px, #000000 2px 2px 0px, #000000 3px 3px 0px, #000000 4px 4px 0px, #000000 5px 5px 0px, #000000 6px 6px 0px, #000000 7px 7px 0px, #000000 8px 8px 0px, #000000 9px 9px 0px, #000000 10px 10px 0px;
}

.nes-list li
{
	margin-bottom: 10px;
}

a.nes-btn
{
	text-decoration: none;
}

.nes-container
{
	padding-left: 20px;
	padding-right: 20px;
}

.skills.nes-list.is-disc li::before,
.hobbies.nes-list.is-disc li::before
{
	color: white;
}

.page-section
{
	margin-top: 10px;
}

@media (max-width: 768px)
{
	.desktop-only {display: none}
	.clients-left {padding-bottom: 0}
	.clients-right {padding-top: 0}
}

@media (max-width: 720px)
{
	.top-btn {margin-bottom: 10px;}
}

@media (max-width: 500px)
{
	.top-btn, .is-primary {width: 97%;}

	.my-logo {font-size: 32px;}

	.job-title {font-size: 18px}

	.gleeok {display: none}
}

@media (max-width: 413px)
{
	.nes-container.with-title > .skills-title {font-size: 14px}
}

.is-dark .nes-btn::after,
.is-dark .nes-btn::before
{
	border-color: white;
}

.footer p {font-size: 12px}

#my-projects::before, #my-projects h2.title {
	background-color: #f7d51d;
}

.ui-widget
{
	font-family: 'Press Start 2P';
}

.ui-messages-error
{
	color: #fff;
	background-color: #e76e55;
	box-shadow: inset -4px -4px #8c2022;
	font-family: 'Press Start 2P';
}

.success-message
{
	color: #fff;
	background-color: #92cc41;
	box-shadow: inset -4px -4px #4aa52e;
	padding: 5px;
	border-radius: 4px;
}

.ui-state-default
{
	font-family: 'Press Start 2P';
	background: none;
	text-shadow: none;
}

.ui-clock
{
	background: none;
	border: none;
	font-family: 'Press Start 2P';
	font-weight: normal;
}