<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<body>
<ui:composition template="/templates/baselayout.xhtml">
    <ui:define name="mainContent">
        <div class="p-col-12 nes-container with-title page-section">
            <h2 class="title">About Me</h2>

            <p>"Computer and Gaming Nerd"</p>
            <p>I started back in early 2000 as a Network Engineer and Web Developer at a small consulting firm. I transitioned purely into software development from that point forward.</p>
            <p>Most of my career roles have been in consultant firms leading challenging and large Enterprise projects. My past experience has included developer mentoring, client management, development management, and architecting.</p>
            <p class="desktop-only">One of my best traits is my ability to communicate well. I enjoy interacting with people.</p>
            <p>I am always open to new opportunities and challenges.</p>
            <p class="desktop-only">Please feel free to contact me on interesting opportunities by using the contact form below.</p>

        </div>

        <div class="p-col-12 p-md-6 nes-container with-title is-dark page-section">
            <h2 class="title skills-title">Skills and Experience</h2>
            <ul class="skills nes-list is-disc">
                <li>Strong Consultant</li>
                <li>Web Development Lead and Architect</li>
                <li>Development Team Mentor and Career Development</li>
                <li>Experience with Large Projects</li>
                <li>Experience with CRM and CMS Platforms</li>
                <li>Fullstack Developer</li>
                <li>Java, .Net, and PHP Development</li>
                <li>Mysql and MSSQL</li>
            </ul>
            <p>
                <a href="https://docs.google.com/document/d/1eQRW0y1CJobpU_z_KNJvQHmOs5TxuY3woXinB87ziRU/edit" class="nes-btn is-primary" target="_blank">View Resume</a>
            </p>
        </div>
        <div class="p-col-12 p-md-6 nes-container with-title is-dark page-section">
            <h2 class="title">Passion / Hobbies</h2>
            <ul class="hobbies nes-list is-disc">
                <li>Spending quality time with my amazing kids</li>
                <li>I love computers and I am always experimenting with new technology.</li>
                <li>Video games <i class="nes-logo"></i></li>
                <li>Board Games <img alt="Board Games" style="width: 55px" src="/images/board-game-icon.png" /></li>
                <li>Legos</li>
                <li>Creating through Programming</li>
            </ul>
        </div>
        <div class="p-col-12 nes-container with-title page-section">
            <h2 class="title">Clients</h2>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 clients-left">
                    <ul class="nes-list is-disc">
                        <li>American Legion</li>
                        <li>Architect of the Capitol</li>
                        <li>Bank of America</li>
                        <li>Disabled American Veterans</li>
                        <li>Dunbar</li>
                        <li>Floodsmart.gov</li>
                        <li>Greenloons</li>
                        <li>Guidestar</li>
                        <li>Heavy Hammer</li>
                        <li>Humana</li>
                    </ul>
                </div>
                <div class="p-col-12 p-md-6 clients-right">
                    <ul class="nes-list is-disc">
                        <li>Kaiser Permanente</li>
                        <li>Maryland State Ethics Commission</li>
                        <li>MSDE</li>
                        <li>MSEP</li>
                        <li>Plante Moran</li>
                        <li>SAIC</li>
                        <li>Shriners Hospital</li>
                        <li>School of Public Health UMD</li>
                        <li>The Advisory Board Company</li>
                        <li>USDA</li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="my-projects" class="p-col-12 nes-container with-title page-section">
            <h2 class="title">My Projects</h2>
            <img class="gleeok" src="/images/LOZ1_Gleeok.png" style="width: 70px;float: right"/>
            <p>The projects throughout my career have usually involved custom web application development, custom CRM application development, or custom CMS application development.</p>
            <p class="desktop-only">I have had the pleasure of creating applications from scratch or modifying existing popular CMS or CRM platforms.</p>
            <p>The project I am most proud of however is my personal CMS project which I built from the ground up.</p>
            <a href="https://gitlab.com/jimwebguru" class="nes-btn is-primary top-btn" target="_blank">View My GitLab <img style="width: 32px;height: 32px" alt="My GitLab" src="/images/gitlab8bit.png"/></a>
        </div>
        <div id="contact-form" class="p-col-12 nes-container with-title is-dark page-section">
            <h2 class="title">Contact Me <i class="nes-icon gmail" style="vertical-align: bottom"></i></h2>
            <div class="nes-balloon from-left" style="padding: 10px">
                <p style="color: #212529">Say Hello by sending the following form!</p>
            </div>
            <h:form id="c-form">
                <h:inputHidden id="bot-trap" value="#{contactUs.botTrap}"/>

                <h:panelGroup layout="block" styleClass="p-grid" rendered="#{contactUs.emailSent == false}">
                    <div class="p-col-12 p-md-3">
                        <p:outputLabel for="email" value="Email Address:"/>
                    </div>
                    <div class="p-col-12 p-md-9">
                        <h:inputText id="email" value="#{contactUs.emailAddress}" styleClass="nes-input is-success" required="true" validatorMessage="Email address must be valid email." requiredMessage="Email address is required.">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </h:inputText>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <p:outputLabel for="message" value="Message:"/>
                    </div>
                    <div class="p-col-12 p-md-9">
                        <h:inputTextarea id="message" cols="20" rows="10" value="#{contactUs.description}" styleClass="nes-textarea is-success" required="true" requiredMessage="Message is required."/>
                    </div>
                    <div class="p-col-12">
                        <p:messages autoUpdate="true" />
                        <p:commandButton id="send-button" value="Send" styleClass="nes-btn is-primary" action="#{contactUs.sendEmail}" update="@form"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup layout="block" rendered="#{contactUs.emailSent == true}">
                    <p class="success-message">Your email has been sent. Thank You.</p>
                </h:panelGroup>
                <p:blockUI block="c-form" trigger="send-button"/>
            </h:form>

        </div>
    </ui:define>
</ui:composition>
</body>
</html>